<div class="row top">
    <p class="mat-body">This is where you define all your systems and talkgroups are defined. Audio files to unknown
        systems/talkgroups won't be ingested unless the auto populate option is activated. You can also drag and drop
        systems to rearrange their order.</p>
    <div>
        <button type="button" mat-button color="accent" (click)="add()">New system</button>
        <button type="button" mat-button color="warn" (click)="removeAll()" [disabled]="!form || form.length === 0">
            Delete all systems
        </button>
    </div>
</div>
<mat-accordion displayMode="flat" cdkDropList [cdkDropListAutoScrollStep]=64 [cdkDropListData]="systems" (cdkDropListDropped)="drop($event)">
    <mat-expansion-panel *ngFor="let system of systems; index as i" [formGroup]="system"
        (afterCollapse)="systemComponent.closeAll()" cdkDrag>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon cdkDragHandle>drag_indicator</mat-icon>
                {{ system.value.label?.trim() || 'NewSystem' }}
                <mat-icon *ngIf="system.invalid" color="warn" style="margin-left: 8px;">error</mat-icon>
                <span *ngIf="system.invalid && getFormErrors(system)" class="mat-caption" style="color: #f44336; margin-left: 4px;">
                    ({{ getFormErrors(system) }})
                </span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <rdio-scanner-admin-system #systemComponent [form]="system" [groups]="groups" [tags]="tags" (add)="add()" (remove)="remove(i)">
        </rdio-scanner-admin-system>
    </mat-expansion-panel>
</mat-accordion>