<ng-container *ngIf="!authenticated">
    <rdio-scanner-admin-login></rdio-scanner-admin-login>
</ng-container>
<ng-container *ngIf="authenticated">
    <rdio-scanner-admin-todos></rdio-scanner-admin-todos>
    <div style="background-color: #ffebee; border: 2px solid #f44336; border-radius: 4px; padding: 16px; margin: 16px 0;">
        <p style="color: #f44336; font-weight: 600; text-transform: uppercase; margin: 0; font-size: 1.1em; line-height: 1.5;">
            WHEN MODIFYING ANY SETTINGS IT IS RECOMMENDED TO USE THE LOCALHOST OR LOCAL IP AND PORT, RUNNING UPDATES OR CHANGES OVER THE INTERNET CAN LEAD TO DATA LOSS AND UNEXPECTED ISSUES.
        </p>
    </div>
    <mat-accordion displayMode="flat">
        <mat-expansion-panel #configPanel (afterCollapse)="configComponent?.closeAll()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>settings</mat-icon>
                    Config
                </mat-panel-title>
            </mat-expansion-panel-header>
            <rdio-scanner-admin-config #configComponent></rdio-scanner-admin-config>
        </mat-expansion-panel>
        <mat-expansion-panel (afterExpand)="logsComponent.reload()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>article</mat-icon>
                    Logs
                </mat-panel-title>
            </mat-expansion-panel-header>
            <rdio-scanner-admin-logs #logsComponent></rdio-scanner-admin-logs>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>health_and_safety</mat-icon>
                    System Health
                </mat-panel-title>
            </mat-expansion-panel-header>
            <rdio-scanner-admin-system-health></rdio-scanner-admin-system-health>
        </mat-expansion-panel>
        <mat-expansion-panel (afterCollapse)="toolsComponent?.closeAll()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>build</mat-icon>
                    Tools
                </mat-panel-title>
            </mat-expansion-panel-header>
            <rdio-scanner-admin-tools #toolsComponent (config)="configComponent.reset($event, { dirty: true, isImport: true }); configPanel.open()"></rdio-scanner-admin-tools>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle (click)="logout()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>logout</mat-icon>
                    Logout
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
</ng-container>