<form *ngIf="form" autocomplete="off" [formGroup]="form">
    <mat-accordion displayMode="flat">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>person_add</mat-icon>
                    User Registration
                    <mat-icon *ngIf="form?.get('options')?.invalid" color="warn">error</mat-icon>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <rdio-scanner-admin-user-registration [form]="options"></rdio-scanner-admin-user-registration>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>group_work</mat-icon>
                    User Groups
                </mat-panel-title>
            </mat-expansion-panel-header>
            <rdio-scanner-admin-user-groups [form]="userGroups"></rdio-scanner-admin-user-groups>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>people</mat-icon>
                    Users
                </mat-panel-title>
            </mat-expansion-panel-header>
            <rdio-scanner-admin-users [userRegistrationEnabled]="options.get('userRegistrationEnabled')?.value" [form]="users"></rdio-scanner-admin-users>
        </mat-expansion-panel>
        <mat-expansion-panel (afterCollapse)="apikeyComponent.closeAll()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>vpn_key</mat-icon>
                    ApiKey
                    <mat-icon *ngIf="form?.get('apikey')?.invalid" color="warn">error</mat-icon>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <rdio-scanner-admin-apikeys #apikeyComponent [form]="apikeys"></rdio-scanner-admin-apikeys>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="!docker" (afterCollapse)="dirwatchComponent.closeAll()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>folder</mat-icon>
                    Dirwatch
                    <mat-icon *ngIf="form?.get('dirwatch')?.invalid" color="warn">error</mat-icon>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <rdio-scanner-admin-dirwatch #dirwatchComponent [form]="dirwatch"></rdio-scanner-admin-dirwatch>
        </mat-expansion-panel>
        <mat-expansion-panel (afterCollapse)="downstreamsComponent.closeAll()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>share</mat-icon>
                    Downstreams
                    <mat-icon *ngIf="form?.get('downstreams')?.invalid" color="warn">error</mat-icon>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <rdio-scanner-admin-downstreams #downstreamsComponent [form]="downstreams"></rdio-scanner-admin-downstreams>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>workspaces</mat-icon>
                    Groups
                    <mat-icon *ngIf="form?.get('groups')?.invalid" color="warn">error</mat-icon>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <rdio-scanner-admin-groups [form]="groups"></rdio-scanner-admin-groups>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>tune</mat-icon>
                    Options
                    <mat-icon *ngIf="form?.get('options')?.invalid" color="warn">error</mat-icon>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <rdio-scanner-admin-options [form]="options"></rdio-scanner-admin-options>
        </mat-expansion-panel>
        <mat-expansion-panel (afterCollapse)="systemsComponent.closeAll()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>podcasts</mat-icon>
                    Systems
                    <mat-icon *ngIf="form?.get('systems')?.invalid" color="warn">error</mat-icon>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <rdio-scanner-admin-systems #systemsComponent [form]="systems"></rdio-scanner-admin-systems>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>sell</mat-icon>
                    Tags
                    <mat-icon *ngIf="form?.get('tags')?.invalid" color="warn">error</mat-icon>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <rdio-scanner-admin-tags [form]="tags"></rdio-scanner-admin-tags>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>format_list_bulleted</mat-icon>
                    Keyword Lists
                </mat-panel-title>
            </mat-expansion-panel-header>
            <rdio-scanner-admin-keyword-lists></rdio-scanner-admin-keyword-lists>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="row bottom">
        <button type="button" mat-raised-button [disabled]="form.disabled || form.pristine"
            (click)="reset()">Reset</button>
        <button type="button" mat-raised-button color="primary"
            [disabled]="form.disabled || form.pristine || !form.valid" (click)="save()">Save</button>
    </div>
</form>